html,body{
		margin: 0;
		padding: 0;
}

body{
		width: 100%;
		min-height: 100vh;
		background-image: url("../images/background.jpg");
		background-size: cover;
		background-position: center;
		background: #D3DDE3;
}

header{
	border-bottom: 3px solid #3498db;
	background-color: white;
	padding-right: 3rem;
	padding-left: 3rem;
	width: 100%;
	height: 60px;
	text-align: center;
	position: fixed;
	z-index: 10;
}

.icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  
}
:root{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: #031d26;
}
*{
	box-sizing: border-box;
}
header svg{
	display: inline-block;
	height: 54px;
	width: auto;
	cursor: pointer;
}
main{
	flex: 1 0 auto;
	padding-top: 60px;
	width: 100%;
	display: block;
}
#WhoAmI{
	background-size:  cover;
	background-repeat: no-repeat;
	background-position: center top;
	padding: 3rem;
	background-image: url("../images/jackrussel.jpg");
	background-attachment: fixed;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: #fff;
	height: 610px;
	max-height: calc(100vh-60px);
	width: auto;
	
}
main section > h1:first-child{
	margin-top:0;
}
.content{
	text-shadow: 0px 2px 3px #031d26;
}

.content p{
	
	margin:0;
}
.content span{
	font-size: 2rem;
	font-weight: 500;
}
header nav{
	display: inline-block;
	position: absolute;
	right: 3rem;
	
}
header nav ul{
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
}
header nav li{

	font-size: 12pt;
}
header nav ul li a{
	display:inline-block;
	color: inherit;
	background: transparent;
	transition: all 300ms ease-in-out;
	text-decoration: none;
	line-height: 57px;
	height: 57px;
	padding: 0 10px;
	margin: 0 5px;
	letter-spacing: .05rem;
	text-transform: uppercase;
}
header nav ul li a:link, a:visited{
	color: black;
}

header nav ul li a:hover, a:active{
	background-color:#95afc0;
	color: #fff;
	cursor: pointer;
}
.sectionTitle{
	text-align: center;
	margin: 1rem 0 3rem;

}
.sectionTitle span{
	display: inline-block;
	position: relative;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.2rem;
}

main #projects .sectionTitle span::before{
	content: " ";
	display: block;
	background-color: #3498db;
	width: 2rem;
	height: 5px;
	position: absolute;
	top: calc(50% - 2px);
	bottom: calc(50% - 2px);
	right: -3rem;
	border-radius: 2px 2px 2px 2px;
}

main #projects .sectionTitle span::after{
	content: " ";
	display: block;
	background-color: #3498db;
	width: 2rem;
	height: 5px;
	position: absolute;
	top: calc(50% - 2px);
	bottom: calc(50% - 2px);
	left: -3rem;
	border-radius: 2px 2px 2px 2px;
}

#smug body{
	background-image: url("../images/12d.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	content: "Dragonball Super: Goku Black Smugface";
	height: 500px;
	width: auto;
}


main #projects .content{
	max-width: 1000px;
	margin: 0 auto;
	display: block;
}

main #projects .content article{
	display: flex;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.4);
}
main #projects .projectImage{
	padding-bottom:25%;
	width: 25%;
	position: relative;
	height: 0;
	box-shadow: 2px 0px 3px rgba(0,0,0,0.1);
}
main #projects .projectContent{
	display: inline-block;
	width: 75%;
	padding: 2rem;
	text-shadow:none;
	
}
main #projects .projectlink a:link, a:visited{
	text-decoration: none;
	color: black;
	transition: 300ms ease-in-out;

}

main #projects .projectlink a:hover, a:active{
	color: #3498db;
	background-color: transparent;
}

main #projects .projectlink {
	display: flex;
	list-style: none;
	margin-top: 2rem;
	margin-bottom: 0;
	padding: 0;
	justify-content: space-around;
}
main #projects .projectContent h3{
	font-size: 2.0rem;
	margin-bottom: 0;
	padding-bottom: 1rem;
}
main #projects .projectContent li{
	display: inline;

}
main #projects .projectContent ul{
	display: flex;
	margin-top: 32px;
}
.projectDescription{
	font-size: 12pt;
}

.spacer{
	height: 2rem;
	width: 100%;
	display: inline-block;
}
#projects{
	padding: 3rem;
}

.projectImage img{
	width: 100%;
	height: auto;
}
#contactInfo{
	max-width: 1000px;
	margin: 0 auto;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.4);

}

#contactInfo h3{
	width: 100%;
	background-color: white;
	margin-top: 1rem;
	padding: 1rem;
	font-size: 14pt;
	font-weight: 100;
	margin-bottom: 0;
}
#contactInfo h3 a{
	text-decoration: none;
	color: #3498db;
}

#contactInfo h3 a:hover, a:active{
	text-decoration: underline;
}

